body{
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: black;
    width: 100%;
    height: 60px;
}

footer{
    background-color: black;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}

h1{
    padding-top: 0.5px;
    padding-left: 25px;
}

.texto-log{
    float: left;
    color: white;
    font-family: 'Epilogue', sans-serif;
}

.linksini{
    float: right;
}


.redes{
    padding-top: 15px;
    max-width: 35px;
    padding-right: 1em;
}

.otras{
    font-family: 'Epilogue', sans-serif;
    padding-top: 1em;
    padding-right: 2.5em;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

footer>p{
    color: white;
    font-family: 'Epilogue', sans-serif;
}

.img-inic{
    float: left;
    margin-top: -1em;
    background-image: url(../IMGS/inicio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 300px;
}

.img-inic>h2{
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-size: 40px;
    padding-left: 18em;
    padding-top: 4em;
}

.left{
    float: left;
}

section{
    background-color: black;
    width: 20%;
    height: 20%;
    margin-left: 10.5em;
    margin-top: 2.5em;
}

.imgart1{
    width: 40%;
    height: 100px;
    padding-left: 12em;
    background-image: url(../IMGS/intel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgart2{
    width: 40%;
    height: 100px;
    padding-left: 12em;
    background-image: url(../IMGS/PS5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgart3{
    width: 40%;
    height: 100px;
    padding-left: 12em;
    background-image: url(../IMGS/opera.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto{
    color: white;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
}

.titart{
    color: white;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
}

.linko{
    font-size: 25px;
    color: white;
    padding-left: 4.8em;
}


